{"openapi":"3.1.0","info":{"title":"TickFlow 行情数据 API","description":"高性能行情数据服务，支持 A股、ETF、美股、港股。\n\n## 认证方式\n\n所有接口需要通过 `x-api-key` 请求头传递 API Key 进行认证。\n\n## 速率限制\n\n根据 API Key 配置的权限，可能会有请求频率和配额限制。\n\n## 批量查询\n\n部分接口同时支持 GET 和 POST 方法：\n- **GET**: 通过 URL 参数传递，适合少量数据\n- **POST**: 通过 JSON Body 传递，适合大批量查询，不受 URL 长度限制\n\n## K线周期\n\n支持的周期：1m, 5m, 10m, 15m, 30m, 60m, 1d, 1w, 1M, 1Q, 1Y\n- 日内周期(5m/15m/30m/60m)从1m数据聚合\n- 周线(1w)/月线(1M)/季线(1Q)/年线(1Y)从日线聚合\n- intraday 接口当前为 Beta 版本","contact":{"name":"TickFlow Team"},"license":{"name":""},"version":"1.0.0"},"servers":[{"url":"https://api.tickflow.org"}],"paths":{"/v1/depth":{"get":{"tags":["实时行情"],"summary":"查询市场深度（五档行情）","operationId":"get_depth","parameters":[{"name":"symbol","in":"query","description":"标的代码，仅支持单个标的, 例如 \"600000.SH\"","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"查询成功","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DepthResponse"}}}},"400":{"description":"参数错误","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"401":{"description":"认证失败","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"403":{"description":"无权限","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"404":{"description":"无数据","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}},"security":[{"api_key":[]}]}},"/v1/depth/batch":{"get":{"tags":["实时行情"],"summary":"批量查询市场深度（五档行情）","operationId":"get_depth_batch","parameters":[{"name":"symbols","in":"query","description":"逗号分隔的标的代码，例如 \"600000.SH,000001.SZ\"","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"查询成功","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DepthBatchResponse"}}}},"400":{"description":"参数错误","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"401":{"description":"认证失败","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"403":{"description":"无权限","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}},"security":[{"api_key":[]}]}},"/v1/exchanges":{"get":{"tags":["交易所"],"summary":"获取交易所列表","description":"返回所有已配置元数据的交易所及其标的数量。","operationId":"list_exchanges","responses":{"200":{"description":"查询成功","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExchangeListResponse"}}}},"401":{"description":"认证失败","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}},"security":[{"api_key":[]}]}},"/v1/exchanges/{exchange}/instruments":{"get":{"tags":["交易所"],"summary":"获取交易所的标的列表","description":"返回指定交易所的所有标的，可选按类型过滤。","operationId":"get_exchange_instruments","parameters":[{"name":"exchange","in":"path","description":"交易所代码，如 SH、SZ、BJ、US、HK","required":true,"schema":{"type":"string"}},{"name":"type","in":"query","description":"标的类型过滤（可选）：stock, etf, index, bond, fund, options, other","required":false,"schema":{"oneOf":[{"type":"null"},{"$ref":"#/components/schemas/InstrumentType"}]}}],"responses":{"200":{"description":"查询成功","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExchangeInstrumentsResponse"}}}},"400":{"description":"参数错误","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"401":{"description":"认证失败","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}},"security":[{"api_key":[]}]}},"/v1/financials/balance-sheet":{"get":{"tags":["财务数据"],"summary":"查询资产负债表","description":"获取指定标的的资产负债表数据，包含资产、负债、权益核心科目。","operationId":"get_balance_sheet","parameters":[{"name":"symbols","in":"query","description":"逗号分隔的标的代码，如 600519.SH,000001.SZ","required":true,"schema":{"type":"string"}},{"name":"start_date","in":"query","description":"起始日期过滤（可选，YYYY-MM-DD），筛选 period_end >= start_date","required":false,"schema":{"type":["string","null"]}},{"name":"end_date","in":"query","description":"截止日期过滤（可选，YYYY-MM-DD），筛选 period_end <= end_date","required":false,"schema":{"type":["string","null"]}},{"name":"latest","in":"query","description":"仅返回最新一期（默认 false）","required":false,"schema":{"type":["boolean","null"]}}],"responses":{"200":{"description":"查询成功","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BalanceSheetResponse"}}}},"400":{"description":"参数错误","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"401":{"description":"认证失败","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"403":{"description":"无权限","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}},"security":[{"api_key":[]}]}},"/v1/financials/cash-flow":{"get":{"tags":["财务数据"],"summary":"查询现金流量表","description":"获取指定标的的现金流量表数据，包含经营/投资/筹资三类净现金流。","operationId":"get_cash_flow","parameters":[{"name":"symbols","in":"query","description":"逗号分隔的标的代码，如 600519.SH,000001.SZ","required":true,"schema":{"type":"string"}},{"name":"start_date","in":"query","description":"起始日期过滤（可选，YYYY-MM-DD），筛选 period_end >= start_date","required":false,"schema":{"type":["string","null"]}},{"name":"end_date","in":"query","description":"截止日期过滤（可选，YYYY-MM-DD），筛选 period_end <= end_date","required":false,"schema":{"type":["string","null"]}},{"name":"latest","in":"query","description":"仅返回最新一期（默认 false）","required":false,"schema":{"type":["boolean","null"]}}],"responses":{"200":{"description":"查询成功","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CashFlowResponse"}}}},"400":{"description":"参数错误","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"401":{"description":"认证失败","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"403":{"description":"无权限","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}},"security":[{"api_key":[]}]}},"/v1/financials/income":{"get":{"tags":["财务数据"],"summary":"查询利润表","description":"获取指定标的的利润表数据，包含营收、利润、费用、EPS 等核心字段。","operationId":"get_income","parameters":[{"name":"symbols","in":"query","description":"逗号分隔的标的代码，如 600519.SH,000001.SZ","required":true,"schema":{"type":"string"}},{"name":"start_date","in":"query","description":"起始日期过滤（可选，YYYY-MM-DD），筛选 period_end >= start_date","required":false,"schema":{"type":["string","null"]}},{"name":"end_date","in":"query","description":"截止日期过滤（可选，YYYY-MM-DD），筛选 period_end <= end_date","required":false,"schema":{"type":["string","null"]}},{"name":"latest","in":"query","description":"仅返回最新一期（默认 false）","required":false,"schema":{"type":["boolean","null"]}}],"responses":{"200":{"description":"查询成功","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IncomeResponse"}}}},"400":{"description":"参数错误","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"401":{"description":"认证失败","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"403":{"description":"无权限","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}},"security":[{"api_key":[]}]}},"/v1/financials/metrics":{"get":{"tags":["财务数据"],"summary":"查询核心财务指标","description":"获取指定标的的核心财务指标，包含每股指标、盈利能力、成长性和偿债能力。","operationId":"get_metrics","parameters":[{"name":"symbols","in":"query","description":"逗号分隔的标的代码，如 600519.SH,000001.SZ","required":true,"schema":{"type":"string"}},{"name":"start_date","in":"query","description":"起始日期过滤（可选，YYYY-MM-DD），筛选 period_end >= start_date","required":false,"schema":{"type":["string","null"]}},{"name":"end_date","in":"query","description":"截止日期过滤（可选，YYYY-MM-DD），筛选 period_end <= end_date","required":false,"schema":{"type":["string","null"]}},{"name":"latest","in":"query","description":"仅返回最新一期（默认 false）","required":false,"schema":{"type":["boolean","null"]}}],"responses":{"200":{"description":"查询成功","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MetricsResponse"}}}},"400":{"description":"参数错误","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"401":{"description":"认证失败","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"403":{"description":"无权限","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}},"security":[{"api_key":[]}]}},"/v1/financials/shares":{"get":{"tags":["财务数据"],"summary":"查询股本表","description":"获取指定标的的股本数据，包含总股本和流通股本。","operationId":"get_shares","parameters":[{"name":"symbols","in":"query","description":"逗号分隔的标的代码，如 600519.SH,000001.SZ","required":true,"schema":{"type":"string"}},{"name":"start_date","in":"query","description":"起始日期过滤（可选，YYYY-MM-DD），筛选 period_end >= start_date","required":false,"schema":{"type":["string","null"]}},{"name":"end_date","in":"query","description":"截止日期过滤（可选，YYYY-MM-DD），筛选 period_end <= end_date","required":false,"schema":{"type":["string","null"]}},{"name":"latest","in":"query","description":"仅返回最新一期（默认 false）","required":false,"schema":{"type":["boolean","null"]}}],"responses":{"200":{"description":"查询成功","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SharesResponse"}}}},"400":{"description":"参数错误","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"401":{"description":"认证失败","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"403":{"description":"无权限","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}},"security":[{"api_key":[]}]}},"/v1/instruments":{"get":{"tags":["标的"],"summary":"查询标的元数据","description":"根据标的代码获取元数据，包括名称、交易所、类型等信息。\n使用 GET 方法时通过 URL 参数传递标的代码。","operationId":"get_instruments","parameters":[{"name":"symbols","in":"query","description":"逗号分隔的标的代码，如 \"600000.SH,000001.SZ,AAPL.US\"","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"查询成功","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InstrumentsResponse"}}}},"400":{"description":"参数错误","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"401":{"description":"认证失败","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}},"security":[{"api_key":[]}]},"post":{"tags":["标的"],"summary":"批量查询标的元数据","description":"使用 POST 方法批量查询，支持更多标的（最多 1000 个）。","operationId":"post_instruments","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InstrumentsRequest"}}},"required":true},"responses":{"200":{"description":"查询成功","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InstrumentsResponse"}}}},"400":{"description":"参数错误","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"401":{"description":"认证失败","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}},"security":[{"api_key":[]}]}},"/v1/klines":{"get":{"tags":["K线数据"],"summary":"查询 K线数据","operationId":"get_klines","parameters":[{"name":"symbol","in":"query","description":"标的代码, 例如 600000.SH","required":true,"schema":{"type":"string"}},{"name":"period","in":"query","description":"周期","required":false,"schema":{"$ref":"#/components/schemas/Period"}},{"name":"count","in":"query","description":"返回的K线数量 (默认100, 最大10000)","required":false,"schema":{"type":"integer","minimum":0}},{"name":"start_time","in":"query","description":"开始时间(毫秒时间戳)","required":false,"schema":{"type":["integer","null"],"format":"int64"}},{"name":"end_time","in":"query","description":"结束时间(毫秒时间戳)","required":false,"schema":{"type":["integer","null"],"format":"int64"}},{"name":"adjust","in":"query","description":"复权类型","required":false,"schema":{"$ref":"#/components/schemas/AdjustType"}}],"responses":{"200":{"description":"查询成功","content":{"application/json":{"schema":{"$ref":"#/components/schemas/KlinesResponse"}}}},"400":{"description":"参数错误","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"401":{"description":"认证失败","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"403":{"description":"无权限","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"404":{"description":"标的不存在","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}},"security":[{"api_key":[]}]}},"/v1/klines/batch":{"get":{"tags":["K线数据"],"summary":"批量查询 K线数据","operationId":"get_klines_batch","parameters":[{"name":"symbols","in":"query","description":"标的代码，逗号分隔, 例如 600000.SH,000001.SZ","required":true,"schema":{"type":"string"}},{"name":"period","in":"query","description":"周期","required":false,"schema":{"$ref":"#/components/schemas/Period"}},{"name":"count","in":"query","description":"返回的K线数量 (默认100, 最大10000)","required":false,"schema":{"type":"integer","minimum":0}},{"name":"start_time","in":"query","description":"开始时间(毫秒时间戳)","required":false,"schema":{"type":["integer","null"],"format":"int64"}},{"name":"end_time","in":"query","description":"结束时间(毫秒时间戳)","required":false,"schema":{"type":["integer","null"],"format":"int64"}},{"name":"adjust","in":"query","description":"复权类型","required":false,"schema":{"$ref":"#/components/schemas/AdjustType"}}],"responses":{"200":{"description":"查询成功","content":{"application/json":{"schema":{"$ref":"#/components/schemas/KlinesBatchResponse"}}}},"400":{"description":"参数错误","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"401":{"description":"认证失败","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"403":{"description":"无权限","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}},"security":[{"api_key":[]}]}},"/v1/klines/ex-factors":{"get":{"tags":["K线数据"],"summary":"查询除权因子","operationId":"get_ex_factors","parameters":[{"name":"symbols","in":"query","description":"逗号分隔的标的代码, 例如 600519.SH,000001.SZ","required":true,"schema":{"type":"string"}},{"name":"start_time","in":"query","description":"开始时间(毫秒时间戳)","required":false,"schema":{"type":["integer","null"],"format":"int64"}},{"name":"end_time","in":"query","description":"结束时间(毫秒时间戳)","required":false,"schema":{"type":["integer","null"],"format":"int64"}}],"responses":{"200":{"description":"查询成功","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExFactorsResponse"}}}},"400":{"description":"参数错误","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"401":{"description":"认证失败","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"403":{"description":"无权限","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}},"security":[{"api_key":[]}]}},"/v1/klines/intraday":{"get":{"tags":["K线数据"],"summary":"查询最新交易日的分钟K线","operationId":"get_intraday","parameters":[{"name":"symbol","in":"query","description":"标的代码","required":true,"schema":{"type":"string"}},{"name":"period","in":"query","description":"周期","required":false,"schema":{"$ref":"#/components/schemas/Period"}},{"name":"count","in":"query","description":"返回的K线数量","required":false,"schema":{"type":["integer","null"],"minimum":0}}],"responses":{"200":{"description":"查询成功","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IntradayResponse"}}}},"400":{"description":"参数错误","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"401":{"description":"认证失败","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"403":{"description":"无权限","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"503":{"description":"日内数据服务未启用","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}},"security":[{"api_key":[]}]}},"/v1/klines/intraday/batch":{"get":{"tags":["K线数据"],"summary":"批量查询最新交易日的分钟K线","operationId":"get_intraday_batch","parameters":[{"name":"symbols","in":"query","description":"逗号分隔的标的代码","required":true,"schema":{"type":"string"}},{"name":"period","in":"query","description":"周期","required":false,"schema":{"$ref":"#/components/schemas/Period"}},{"name":"count","in":"query","description":"返回的K线数量","required":false,"schema":{"type":["integer","null"],"minimum":0}}],"responses":{"200":{"description":"批量查询成功","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IntradayBatchResponse"}}}},"400":{"description":"参数错误","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"401":{"description":"认证失败","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"403":{"description":"无权限","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"503":{"description":"日内数据服务未启用","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}},"security":[{"api_key":[]}]}},"/v1/klines/intraday/universe":{"get":{"tags":["K线数据"],"summary":"按标的池查询最新交易日的分钟K线","operationId":"get_intraday_universe","parameters":[{"name":"universes","in":"query","description":"逗号分隔的标的池 ID，例如：CN_Equity_A,CN_ETF","required":true,"schema":{"type":"string"}},{"name":"period","in":"query","description":"周期","required":false,"schema":{"$ref":"#/components/schemas/Period"}},{"name":"count","in":"query","description":"每只标的返回的K线数量，默认 2","required":false,"schema":{"type":["integer","null"],"minimum":0}},{"name":"start_time","in":"query","description":"开始时间(毫秒时间戳)","required":false,"schema":{"type":["integer","null"],"format":"int64"}},{"name":"end_time","in":"query","description":"结束时间(毫秒时间戳)","required":false,"schema":{"type":["integer","null"],"format":"int64"}}],"responses":{"200":{"description":"标的池查询成功","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IntradayBatchResponse"}}}},"400":{"description":"参数错误","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"401":{"description":"认证失败","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"403":{"description":"无权限","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"503":{"description":"日内数据服务未启用","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}},"security":[{"api_key":[]}]}},"/v1/quotes":{"get":{"tags":["实时行情"],"summary":"查询实时行情","operationId":"get_quotes","parameters":[{"name":"symbols","in":"query","description":"标的代码，逗号分隔, 例如 \"600000.SH,000001.SZ\"","required":false,"schema":{"type":["string","null"]}},{"name":"universes","in":"query","description":"标的池 ID，逗号分隔, 例如 \"CN_Equity_A,CN_ETF\"","required":false,"schema":{"type":["string","null"]}}],"responses":{"200":{"description":"查询成功","content":{"application/json":{"schema":{"$ref":"#/components/schemas/QuotesResponse"}}}},"400":{"description":"参数错误","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"401":{"description":"认证失败","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"403":{"description":"无权限","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"404":{"description":"标的池不存在","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}},"security":[{"api_key":[]}]},"post":{"tags":["实时行情"],"summary":"批量查询实时行情","operationId":"post_quotes","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/QuotesRequest"}}},"required":true},"responses":{"200":{"description":"查询成功","content":{"application/json":{"schema":{"$ref":"#/components/schemas/QuotesResponse"}}}},"400":{"description":"参数错误","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"401":{"description":"认证失败","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"403":{"description":"无权限","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"404":{"description":"标的池不存在","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}},"security":[{"api_key":[]}]}},"/v1/universes":{"get":{"tags":["标的池"],"summary":"获取标的池列表","operationId":"list_universes","responses":{"200":{"description":"查询成功","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UniverseListResponse"}}}},"401":{"description":"认证失败","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}},"security":[{"api_key":[]}]}},"/v1/universes/batch":{"post":{"tags":["标的池"],"summary":"批量获取标的池详情","operationId":"batch_universes","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UniverseBatchRequest"}}},"required":true},"responses":{"200":{"description":"查询成功","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UniverseBatchResponse"}}}},"400":{"description":"参数错误","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"401":{"description":"认证失败","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}},"security":[{"api_key":[]}]}},"/v1/universes/{id}":{"get":{"tags":["标的池"],"summary":"获取标的池详情","operationId":"get_universe","parameters":[{"name":"id","in":"path","description":"标的池 ID","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"查询成功","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UniverseDetailResponse"}}}},"401":{"description":"认证失败","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"404":{"description":"标的池不存在","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}},"security":[{"api_key":[]}]}}},"components":{"schemas":{"AdjustType":{"type":"string","description":"复权类型","enum":["forward","backward","forward_additive","backward_additive","none"]},"ApiError":{"type":"object","description":"API 错误响应体","required":["code","message"],"properties":{"code":{"type":"string","description":"错误代码 (如 \"INVALID_PERIOD\", \"SYMBOL_NOT_FOUND\")","example":"INVALID_PERIOD"},"details":{"description":"详细信息 (可选，用于调试)"},"message":{"type":"string","description":"错误消息 (人类可读)","example":"Invalid period: 2d"}}},"BalanceSheetRecord":{"type":"object","description":"资产负债表单期记录","required":["period_end"],"properties":{"accounts_payable":{"type":["number","null"],"format":"double","description":"应付账款 (Accounts Payable)"},"accounts_receivable":{"type":["number","null"],"format":"double","description":"应收账款 (Accounts Receivable)"},"announce_date":{"type":["string","null"],"description":"公告日期 (YYYY-MM-DD)"},"cash_and_equivalents":{"type":["number","null"],"format":"double","description":"货币资金 (Cash and Cash Equivalents)"},"equity_attributable":{"type":["number","null"],"format":"double","description":"归属于母公司股东权益 (Equity Attributable to Parent)"},"fixed_assets":{"type":["number","null"],"format":"double","description":"固定资产 (Fixed Assets)"},"goodwill":{"type":["number","null"],"format":"double","description":"商誉 (Goodwill)"},"intangible_assets":{"type":["number","null"],"format":"double","description":"无形资产 (Intangible Assets)"},"inventory":{"type":["number","null"],"format":"double","description":"存货 (Inventory)"},"long_term_borrowing":{"type":["number","null"],"format":"double","description":"长期借款 (Long-term Borrowing)"},"minority_interest":{"type":["number","null"],"format":"double","description":"少数股东权益 (Minority Interest)"},"period_end":{"type":"string","description":"报告期末日期 (YYYY-MM-DD)"},"retained_earnings":{"type":["number","null"],"format":"double","description":"未分配利润 (Retained Earnings)"},"short_term_borrowing":{"type":["number","null"],"format":"double","description":"短期借款 (Short-term Borrowing)"},"total_assets":{"type":["number","null"],"format":"double","description":"资产总计 (Total Assets)"},"total_current_assets":{"type":["number","null"],"format":"double","description":"流动资产合计 (Total Current Assets)"},"total_current_liabilities":{"type":["number","null"],"format":"double","description":"流动负债合计 (Total Current Liabilities)"},"total_equity":{"type":["number","null"],"format":"double","description":"所有者权益合计 (Total Equity)"},"total_liabilities":{"type":["number","null"],"format":"double","description":"负债合计 (Total Liabilities)"},"total_non_current_assets":{"type":["number","null"],"format":"double","description":"非流动资产合计 (Total Non-current Assets)"},"total_non_current_liabilities":{"type":["number","null"],"format":"double","description":"非流动负债合计 (Total Non-current Liabilities)"}}},"BalanceSheetResponse":{"type":"object","description":"资产负债表响应","required":["data"],"properties":{"data":{"type":"object","additionalProperties":{"type":"array","items":{"$ref":"#/components/schemas/BalanceSheetRecord"}},"propertyNames":{"type":"string"}}}},"CashFlowRecord":{"type":"object","description":"现金流量表单期记录","required":["period_end"],"properties":{"announce_date":{"type":["string","null"],"description":"公告日期 (YYYY-MM-DD)"},"capex":{"type":["number","null"],"format":"double","description":"资本支出 (Capital Expenditure)"},"net_cash_change":{"type":["number","null"],"format":"double","description":"现金及现金等价物净增加额 (Net Change in Cash)"},"net_financing_cash_flow":{"type":["number","null"],"format":"double","description":"筹资活动现金流量净额 (Net Financing Cash Flow)"},"net_investing_cash_flow":{"type":["number","null"],"format":"double","description":"投资活动现金流量净额 (Net Investing Cash Flow)"},"net_operating_cash_flow":{"type":["number","null"],"format":"double","description":"经营活动现金流量净额 (Net Operating Cash Flow)"},"period_end":{"type":"string","description":"报告期末日期 (YYYY-MM-DD)"}}},"CashFlowResponse":{"type":"object","description":"现金流量表响应","required":["data"],"properties":{"data":{"type":"object","additionalProperties":{"type":"array","items":{"$ref":"#/components/schemas/CashFlowRecord"}},"propertyNames":{"type":"string"}}}},"CnEquityInstrumentExt":{"type":"object","description":"中国 A 股特有字段","properties":{"float_shares":{"type":["number","null"],"format":"double","description":"流通股本（股）"},"limit_down":{"type":["number","null"],"format":"double","description":"跌停价（每交易日更新）"},"limit_up":{"type":["number","null"],"format":"double","description":"涨停价（每交易日更新）"},"listing_date":{"type":["string","null"],"description":"上市日期"},"name_en":{"type":["string","null"],"description":"英文名"},"tick_size":{"type":["number","null"],"format":"double","description":"最小变动价位"},"total_shares":{"type":["number","null"],"format":"double","description":"总股本（股）"}}},"CnEquityQuoteExt":{"type":"object","description":"A股扩展数据（仅实时/计算字段，静态字段在 Instrument）","properties":{"amplitude":{"type":["number","null"],"format":"double","description":"振幅 0.01 -> 1%"},"change_amount":{"type":["number","null"],"format":"double","description":"涨跌额"},"change_pct":{"type":["number","null"],"format":"double","description":"涨跌幅 0.01 -> 1%"},"name":{"type":["string","null"],"description":"名称"},"turnover_rate":{"type":["number","null"],"format":"double","description":"换手率 0.01 -> 1%"}}},"CompactKlineData":{"type":"object","description":"紧凑列式K线数据（用于高效传输）","required":["timestamp","open","high","low","close","volume","amount"],"properties":{"amount":{"type":"array","items":{"type":"number","format":"double"},"description":"成交额"},"close":{"type":"array","items":{"type":"number","format":"double"},"description":"收盘价"},"high":{"type":"array","items":{"type":"number","format":"double"},"description":"最高价"},"low":{"type":"array","items":{"type":"number","format":"double"},"description":"最低价"},"open":{"type":"array","items":{"type":"number","format":"double"},"description":"开盘价"},"open_interest":{"type":"array","items":{"type":"number","format":"double"},"description":"持仓量"},"prev_close":{"type":"array","items":{"type":"number","format":"double"},"description":"前收盘价"},"settlement_price":{"type":"array","items":{"type":"number","format":"double"},"description":"结算价"},"timestamp":{"type":"array","items":{"type":"integer","format":"int64"},"description":"时间戳 (毫秒)"},"volume":{"type":"array","items":{"type":"integer","format":"int64"},"description":"成交量"}}},"DepthBatchQuery":{"type":"object","description":"市场深度批量查询参数","required":["symbols"],"properties":{"symbols":{"type":"string","description":"逗号分隔的标的代码，例如 \"600000.SH,000001.SZ\"","example":"600000.SH,000001.SZ"}}},"DepthBatchResponse":{"type":"object","description":"市场深度批量响应","required":["data"],"properties":{"data":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/MarketDepth"},"propertyNames":{"type":"string"}}}},"DepthQuery":{"type":"object","description":"市场深度查询参数","required":["symbol"],"properties":{"symbol":{"type":"string","description":"标的代码，仅支持单个标的, 例如 \"600000.SH\"","example":"600000.SH"}}},"DepthResponse":{"type":"object","description":"市场深度响应","required":["data"],"properties":{"data":{"$ref":"#/components/schemas/MarketDepth"}}},"ExFactorEntry":{"type":"object","description":"单条复权因子","required":["timestamp","ex_factor"],"properties":{"ex_factor":{"type":"number","format":"double","description":"除权因子"},"timestamp":{"type":"integer","format":"int64","description":"除权日时间戳 (毫秒)"}}},"ExFactorsQuery":{"type":"object","description":"复权因子查询参数","required":["symbols"],"properties":{"end_time":{"type":["integer","null"],"format":"int64","description":"结束时间(毫秒时间戳)"},"start_time":{"type":["integer","null"],"format":"int64","description":"开始时间(毫秒时间戳)"},"symbols":{"type":"string","description":"逗号分隔的标的代码, 例如 600519.SH,000001.SZ","example":"600519.SH,000001.SZ"}}},"ExFactorsResponse":{"type":"object","required":["data"],"properties":{"data":{"type":"object","additionalProperties":{"type":"array","items":{"$ref":"#/components/schemas/ExFactorEntry"}},"propertyNames":{"type":"string"}}}},"ExchangeInfo":{"type":"object","description":"交易所摘要信息","required":["exchange","region","count"],"properties":{"count":{"type":"integer","description":"标的数量","minimum":0},"exchange":{"type":"string","description":"交易所代码"},"region":{"type":"string","description":"所属地区"}}},"ExchangeInstrumentsQuery":{"type":"object","description":"交易所标的查询参数","properties":{"type":{"oneOf":[{"type":"null"},{"$ref":"#/components/schemas/InstrumentType","description":"标的类型过滤（可选）：stock, etf, index, bond, fund, options, other"}]}}},"ExchangeInstrumentsResponse":{"type":"object","description":"交易所标的列表响应","required":["exchange","count","data"],"properties":{"count":{"type":"integer","description":"标的数量","minimum":0},"data":{"type":"array","items":{"$ref":"#/components/schemas/Instrument"},"description":"标的列表"},"exchange":{"type":"string","description":"交易所代码"}}},"ExchangeListResponse":{"type":"object","description":"交易所列表响应","required":["data"],"properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/ExchangeInfo"},"description":"交易所列表"}}},"FinancialsQuery":{"type":"object","description":"财务数据查询参数","required":["symbols"],"properties":{"end_date":{"type":["string","null"],"description":"截止日期过滤（可选，YYYY-MM-DD），筛选 period_end <= end_date"},"latest":{"type":["boolean","null"],"description":"仅返回最新一期（默认 false）"},"start_date":{"type":["string","null"],"description":"起始日期过滤（可选，YYYY-MM-DD），筛选 period_end >= start_date"},"symbols":{"type":"string","description":"逗号分隔的标的代码，如 600519.SH,000001.SZ"}}},"HkEquityInstrumentExt":{"type":"object","description":"港股特有字段","properties":{"float_shares":{"type":["number","null"],"format":"double","description":"流通股本（股）"},"lot_size":{"type":["integer","null"],"format":"int32","description":"每手股数"},"total_shares":{"type":["number","null"],"format":"double","description":"总股本（股）"}}},"HkEquityQuoteExt":{"type":"object","description":"港股扩展数据（与 A 股 / 美股保持一致结构）","properties":{"amplitude":{"type":["number","null"],"format":"double","description":"振幅 0.01 -> 1%"},"change_amount":{"type":["number","null"],"format":"double","description":"涨跌额"},"change_pct":{"type":["number","null"],"format":"double","description":"涨跌幅 0.01 -> 1%"},"name":{"type":["string","null"],"description":"名称"},"turnover_rate":{"type":["number","null"],"format":"double","description":"换手率 0.01 -> 1%"}}},"IncomeRecord":{"type":"object","description":"利润表单期记录","required":["period_end"],"properties":{"admin_expense":{"type":["number","null"],"format":"double","description":"管理费用 (Administrative Expense)"},"announce_date":{"type":["string","null"],"description":"公告日期 (YYYY-MM-DD)"},"basic_eps":{"type":["number","null"],"format":"double","description":"基本每股收益 (Basic EPS)"},"diluted_eps":{"type":["number","null"],"format":"double","description":"稀释每股收益 (Diluted EPS)"},"financial_expense":{"type":["number","null"],"format":"double","description":"财务费用 (Financial Expense)"},"income_tax":{"type":["number","null"],"format":"double","description":"所得税费用 (Income Tax Expense)"},"net_income":{"type":["number","null"],"format":"double","description":"净利润 (Net Income)"},"net_income_attributable":{"type":["number","null"],"format":"double","description":"归属于母公司股东的净利润 (Net Income Attributable to Parent)"},"net_income_deducted":{"type":["number","null"],"format":"double","description":"扣除非经常性损益后的净利润 (Net Income Excluding Non-recurring Items)"},"non_operating_expense":{"type":["number","null"],"format":"double","description":"营业外支出 (Non-operating Expense)"},"non_operating_income":{"type":["number","null"],"format":"double","description":"营业外收入 (Non-operating Income)"},"operating_cost":{"type":["number","null"],"format":"double","description":"营业总成本 (Total Operating Cost)"},"operating_profit":{"type":["number","null"],"format":"double","description":"营业利润 (Operating Profit)"},"period_end":{"type":"string","description":"报告期末日期 (YYYY-MM-DD)"},"rd_expense":{"type":["number","null"],"format":"double","description":"研发费用 (R&D Expense)"},"revenue":{"type":["number","null"],"format":"double","description":"营业总收入 (Total Revenue)"},"selling_expense":{"type":["number","null"],"format":"double","description":"销售费用 (Selling Expense)"},"total_profit":{"type":["number","null"],"format":"double","description":"利润总额 (Total Profit)"}}},"IncomeResponse":{"type":"object","description":"利润表响应","required":["data"],"properties":{"data":{"type":"object","additionalProperties":{"type":"array","items":{"$ref":"#/components/schemas/IncomeRecord"}},"propertyNames":{"type":"string"}}}},"Instrument":{"type":"object","description":"标的元数据","required":["symbol","exchange","code","region"],"properties":{"code":{"type":"string","description":"交易所内代码 (如 \"600000\", \"AAPL\")"},"exchange":{"type":"string","description":"交易所代码 (如 \"SH\", \"SZ\", \"US\")"},"ext":{"oneOf":[{"type":"null"},{"$ref":"#/components/schemas/InstrumentExt","description":"市场特定扩展字段"}]},"name":{"type":["string","null"],"description":"标的名称"},"region":{"type":"string","description":"所属地区 (CN, US, HK)"},"symbol":{"type":"string","description":"标的代码 (如 \"600000.SH\", \"AAPL.US\")"},"type":{"oneOf":[{"type":"null"},{"$ref":"#/components/schemas/InstrumentType","description":"标的类型"}]}}},"InstrumentExt":{"oneOf":[{"allOf":[{"$ref":"#/components/schemas/CnEquityInstrumentExt","description":"中国 A 股扩展"},{"type":"object","required":["type"],"properties":{"type":{"type":"string","enum":["cn_equity"]}}}],"description":"中国 A 股扩展"},{"allOf":[{"$ref":"#/components/schemas/UsEquityInstrumentExt","description":"美国股票扩展"},{"type":"object","required":["type"],"properties":{"type":{"type":"string","enum":["us_equity"]}}}],"description":"美国股票扩展"},{"allOf":[{"$ref":"#/components/schemas/HkEquityInstrumentExt","description":"香港股票扩展"},{"type":"object","required":["type"],"properties":{"type":{"type":"string","enum":["hk_equity"]}}}],"description":"香港股票扩展"}],"description":"市场特定元数据扩展\n\n`type` 标签值与 [`MarketType`] 一一对应。"},"InstrumentType":{"type":"string","description":"标的类型","enum":["stock","etf","index","bond","fund","options","other"]},"InstrumentsQuery":{"type":"object","description":"标的查询参数 (GET)","required":["symbols"],"properties":{"symbols":{"type":"string","description":"逗号分隔的标的代码，如 \"600000.SH,000001.SZ,AAPL.US\""}}},"InstrumentsRequest":{"type":"object","description":"批量查询标的请求体 (POST)","required":["symbols"],"properties":{"symbols":{"type":"array","items":{"type":"string"},"description":"标的代码列表"}}},"InstrumentsResponse":{"type":"object","description":"标的元数据响应","required":["data"],"properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Instrument"},"description":"标的元数据列表"}}},"IntradayBatchQuery":{"type":"object","description":"Intraday 批量查询参数","required":["symbols"],"properties":{"count":{"type":["integer","null"],"description":"返回的K线数量","example":100,"minimum":0},"period":{"$ref":"#/components/schemas/Period","description":"周期"},"symbols":{"type":"string","description":"逗号分隔的标的代码","example":"600000.SH,000001.SZ"}}},"IntradayBatchResponse":{"type":"object","description":"Intraday 批量响应","required":["data"],"properties":{"data":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/CompactKlineData"},"propertyNames":{"type":"string"}}}},"IntradayQuery":{"type":"object","description":"Intraday 查询参数（单标的）","required":["symbol"],"properties":{"count":{"type":["integer","null"],"description":"返回的K线数量","example":100,"minimum":0},"period":{"$ref":"#/components/schemas/Period","description":"周期"},"symbol":{"type":"string","description":"标的代码","example":"600000.SH"}}},"IntradayResponse":{"type":"object","description":"Intraday 响应（单标的）","required":["data"],"properties":{"data":{"$ref":"#/components/schemas/CompactKlineData"}}},"IntradayUniverseQuery":{"type":"object","description":"Intraday 标的池查询参数","required":["universes"],"properties":{"count":{"type":["integer","null"],"description":"每只标的返回的K线数量，默认 2","example":2,"minimum":0},"end_time":{"type":["integer","null"],"format":"int64","description":"结束时间(毫秒时间戳)"},"period":{"$ref":"#/components/schemas/Period","description":"周期"},"start_time":{"type":["integer","null"],"format":"int64","description":"开始时间(毫秒时间戳)"},"universes":{"type":"string","description":"逗号分隔的标的池 ID，例如：CN_Equity_A,CN_ETF","example":"CN_Equity_A"}}},"Kline":{"type":"object","description":"K线数据点 (OHLCV + 可选扩展字段)\n\n.kline v1 二进制: 80 bytes/record (10 字段), NaN 表示可选字段为空\n\n核心字段: timestamp, open, high, low, close, volume, amount\n可选字段: prev_close, open_interest, settlement_price","required":["timestamp","open","high","low","close","volume"],"properties":{"amount":{"type":"number","format":"double","description":"成交额"},"close":{"type":"number","format":"double","description":"收盘价"},"high":{"type":"number","format":"double","description":"最高价"},"low":{"type":"number","format":"double","description":"最低价"},"open":{"type":"number","format":"double","description":"开盘价"},"open_interest":{"type":["number","null"],"format":"double","description":"持仓量 (可选)"},"prev_close":{"type":["number","null"],"format":"double","description":"前收盘价 (可选)"},"settlement_price":{"type":["number","null"],"format":"double","description":"结算价 (可选)"},"timestamp":{"type":"integer","format":"int64","description":"时间戳 (毫秒)"},"volume":{"type":"integer","format":"int64","description":"成交量"}}},"KlinesBatchQuery":{"type":"object","description":"K线批量查询参数","required":["symbols"],"properties":{"adjust":{"$ref":"#/components/schemas/AdjustType","description":"复权类型"},"count":{"type":"integer","description":"返回的K线数量 (默认100, 最大10000)","example":100,"minimum":0},"end_time":{"type":["integer","null"],"format":"int64","description":"结束时间(毫秒时间戳)"},"period":{"$ref":"#/components/schemas/Period","description":"周期"},"start_time":{"type":["integer","null"],"format":"int64","description":"开始时间(毫秒时间戳)"},"symbols":{"type":"string","description":"标的代码，逗号分隔, 例如 600000.SH,000001.SZ","example":"600000.SH,000001.SZ"}}},"KlinesBatchResponse":{"type":"object","required":["data"],"properties":{"data":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/CompactKlineData"},"propertyNames":{"type":"string"}}}},"KlinesQuery":{"type":"object","description":"K线查询参数","required":["symbol"],"properties":{"adjust":{"$ref":"#/components/schemas/AdjustType","description":"复权类型"},"count":{"type":"integer","description":"返回的K线数量 (默认100, 最大10000)","example":100,"minimum":0},"end_time":{"type":["integer","null"],"format":"int64","description":"结束时间(毫秒时间戳)"},"period":{"$ref":"#/components/schemas/Period","description":"周期"},"start_time":{"type":["integer","null"],"format":"int64","description":"开始时间(毫秒时间戳)"},"symbol":{"type":"string","description":"标的代码, 例如 600000.SH","example":"600000.SH"}}},"KlinesResponse":{"type":"object","required":["data"],"properties":{"data":{"$ref":"#/components/schemas/CompactKlineData"}}},"MarketDepth":{"type":"object","description":"市场深度（五档行情）","required":["symbol","region","timestamp","bid_prices","bid_volumes","ask_prices","ask_volumes"],"properties":{"ask_prices":{"type":"array","items":{"type":"number","format":"double"},"description":"卖出价 (卖1-卖5，升序)"},"ask_volumes":{"type":"array","items":{"type":"integer","format":"int64"},"description":"卖出量"},"bid_prices":{"type":"array","items":{"type":"number","format":"double"},"description":"买入价 (买1-买5，降序)"},"bid_volumes":{"type":"array","items":{"type":"integer","format":"int64"},"description":"买入量"},"region":{"$ref":"#/components/schemas/Region","description":"地区"},"symbol":{"type":"string","description":"标的代码"},"timestamp":{"type":"integer","format":"int64","description":"时间戳 (毫秒)"}}},"MarketType":{"type":"string","description":"市场类型常量，用于 ext 标签、权限控制和定价模型。\n\n由 Region + AssetClass 组合而成，例如 `cn_equity` 表示中国股票类资产。\n作为 `InstrumentExt` / `QuoteExtension` 的 `type` 标签的唯一真实来源。","enum":["cn_equity","us_equity","hk_equity"]},"MetricsRecord":{"type":"object","description":"核心财务指标（每股指标 + 盈利能力 + 成长性 + 偿债能力）","required":["period_end"],"properties":{"announce_date":{"type":["string","null"],"description":"公告日期 (YYYY-MM-DD)"},"bps":{"type":["number","null"],"format":"double","description":"每股净资产 (Book Value per Share)"},"debt_to_asset_ratio":{"type":["number","null"],"format":"double","description":"资产负债率 (Debt-to-Asset Ratio)"},"eps_basic":{"type":["number","null"],"format":"double","description":"基本每股收益 (Basic EPS)"},"eps_diluted":{"type":["number","null"],"format":"double","description":"稀释每股收益 (Diluted EPS)"},"gross_margin":{"type":["number","null"],"format":"double","description":"毛利率 (Gross Margin)"},"inventory_turnover":{"type":["number","null"],"format":"double","description":"存货周转率 (Inventory Turnover)"},"net_income_yoy":{"type":["number","null"],"format":"double","description":"净利润同比增长率 (Net Income YoY Growth)"},"net_margin":{"type":["number","null"],"format":"double","description":"净利率 (Net Margin)"},"ocfps":{"type":["number","null"],"format":"double","description":"每股经营现金流 (Operating Cash Flow per Share)"},"operating_cash_to_revenue":{"type":["number","null"],"format":"double","description":"销售现金比率 (Operating Cash to Revenue)"},"period_end":{"type":"string","description":"报告期末日期 (YYYY-MM-DD)"},"revenue_yoy":{"type":["number","null"],"format":"double","description":"营收同比增长率 (Revenue YoY Growth)"},"roa":{"type":["number","null"],"format":"double","description":"总资产收益率 (ROA)"},"roe":{"type":["number","null"],"format":"double","description":"净资产收益率 (ROE)"},"roe_diluted":{"type":["number","null"],"format":"double","description":"摊薄净资产收益率 (Diluted ROE)"}}},"MetricsResponse":{"type":"object","description":"核心财务指标响应","required":["data"],"properties":{"data":{"type":"object","additionalProperties":{"type":"array","items":{"$ref":"#/components/schemas/MetricsRecord"}},"propertyNames":{"type":"string"}}}},"Period":{"type":"string","description":"K线周期","enum":["1m","5m","10m","15m","30m","60m","1d","1w","1M","1Q","1Y"]},"Quote":{"type":"object","description":"行情数据","required":["symbol","region","last_price","prev_close","open","high","low","volume","amount","timestamp"],"properties":{"amount":{"type":"number","format":"double","description":"成交额"},"ext":{"oneOf":[{"type":"null"},{"$ref":"#/components/schemas/QuoteExtension","description":"扩展数据"}]},"high":{"type":"number","format":"double","description":"最高价"},"last_price":{"type":"number","format":"double","description":"最新价"},"low":{"type":"number","format":"double","description":"最低价"},"open":{"type":"number","format":"double","description":"开盘价"},"prev_close":{"type":"number","format":"double","description":"昨收价"},"region":{"$ref":"#/components/schemas/Region","description":"地区"},"session":{"oneOf":[{"type":"null"},{"$ref":"#/components/schemas/SessionStatus","description":"交易时段"}]},"symbol":{"type":"string","description":"标的代码"},"timestamp":{"type":"integer","format":"int64","description":"时间戳 (毫秒)"},"volume":{"type":"integer","format":"int64","description":"成交量"}}},"QuoteExtension":{"oneOf":[{"allOf":[{"$ref":"#/components/schemas/CnEquityQuoteExt","description":"A股扩展数据"},{"type":"object","required":["type"],"properties":{"type":{"type":"string","enum":["cn_equity"]}}}],"description":"A股扩展数据"},{"allOf":[{"$ref":"#/components/schemas/UsEquityQuoteExt","description":"美股扩展数据"},{"type":"object","required":["type"],"properties":{"type":{"type":"string","enum":["us_equity"]}}}],"description":"美股扩展数据"},{"allOf":[{"$ref":"#/components/schemas/HkEquityQuoteExt","description":"港股扩展数据"},{"type":"object","required":["type"],"properties":{"type":{"type":"string","enum":["hk_equity"]}}}],"description":"港股扩展数据"}],"description":"地区特定的扩展数据\n\n`type` 标签值与 [`MarketType`] 一一对应。"},"QuotesQuery":{"type":"object","description":"实时行情查询参数 (GET)","properties":{"symbols":{"type":["string","null"],"description":"标的代码，逗号分隔, 例如 \"600000.SH,000001.SZ\"","example":"600000.SH,000001.SZ"},"universes":{"type":["string","null"],"description":"标的池 ID，逗号分隔, 例如 \"CN_Equity_A,CN_ETF\"","example":"CN_Equity_A,CN_ETF"}}},"QuotesRequest":{"type":"object","description":"实时行情批量查询请求体 (POST)","properties":{"symbols":{"type":["array","null"],"items":{"type":"string"},"description":"标的代码列表","example":["600000.SH","000001.SZ","AAPL.US"]},"universes":{"type":["array","null"],"items":{"type":"string"},"description":"标的池 ID 列表","example":["CN_Equity_A","CN_ETF"]}}},"QuotesResponse":{"type":"object","description":"实时行情响应","required":["data"],"properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Quote"}}}},"Region":{"type":"string","description":"支持的地区/市场","enum":["CN","US","HK"]},"SessionStatus":{"type":"string","description":"交易时段状态","enum":["pre_market","regular","after_hours","closed","halted","lunch_break"]},"SharesRecord":{"type":"object","description":"股本结构单期记录","required":["period_end"],"properties":{"announce_date":{"type":["string","null"],"description":"公告日期 (YYYY-MM-DD)"},"float_shares":{"type":["number","null"],"format":"double","description":"流通股本 (Float Shares)"},"period_end":{"type":"string","description":"报告期末日期 (YYYY-MM-DD)"},"total_shares":{"type":["number","null"],"format":"double","description":"总股本 (Total Shares)"}}},"SharesResponse":{"type":"object","description":"股本结构响应","required":["data"],"properties":{"data":{"type":"object","additionalProperties":{"type":"array","items":{"$ref":"#/components/schemas/SharesRecord"}},"propertyNames":{"type":"string"}}}},"Universe":{"type":"object","description":"标的池定义","required":["id","name","region","category","symbols"],"properties":{"category":{"type":"string","description":"分类 (equity, etf, index 等)"},"description":{"type":["string","null"],"description":"描述"},"id":{"type":"string","description":"唯一标识符 (如 \"CN_Equity_A\")"},"name":{"type":"string","description":"显示名称"},"region":{"type":"string","description":"地区代码 (CN, US, HK)"},"symbols":{"type":"array","items":{"type":"string"},"description":"标的列表"}}},"UniverseBatchRequest":{"type":"object","description":"批量获取标的池详情请求体","required":["ids"],"properties":{"ids":{"type":"array","items":{"type":"string"},"description":"标的池 ID 列表","example":["CN_Equity_A","CN_ETF"]}}},"UniverseBatchResponse":{"type":"object","description":"批量获取标的池详情响应","required":["data"],"properties":{"data":{"type":"object","description":"以有效的标的池 ID 为 key，UniverseDetail 为 value","additionalProperties":{"$ref":"#/components/schemas/UniverseDetail"},"propertyNames":{"type":"string"}}}},"UniverseDetail":{"allOf":[{"$ref":"#/components/schemas/UniverseSummary","description":"基本信息"},{"type":"object","required":["symbols"],"properties":{"symbols":{"type":"array","items":{"type":"string"},"description":"标的列表"}}}],"description":"标的池详情（包含标的列表）"},"UniverseDetailResponse":{"type":"object","required":["data"],"properties":{"data":{"$ref":"#/components/schemas/UniverseDetail"}}},"UniverseListResponse":{"type":"object","required":["data"],"properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/UniverseSummary"}}}},"UniverseSummary":{"type":"object","description":"标的池摘要（用于列表展示）","required":["id","name","region","category","symbol_count"],"properties":{"category":{"type":"string","description":"分类"},"description":{"type":["string","null"],"description":"描述"},"id":{"type":"string","description":"唯一标识符"},"name":{"type":"string","description":"显示名称"},"region":{"type":"string","description":"地区代码"},"symbol_count":{"type":"integer","description":"标的数量","minimum":0}}},"UsEquityInstrumentExt":{"type":"object","description":"美股特有字段","properties":{"float_shares":{"type":["number","null"],"format":"double","description":"流通股本（股）"},"total_shares":{"type":["number","null"],"format":"double","description":"总股本（股）"}}},"UsEquityQuoteExt":{"type":"object","description":"美股扩展数据（与 A 股保持一致结构）","properties":{"amplitude":{"type":["number","null"],"format":"double","description":"振幅 0.01 -> 1%"},"change_amount":{"type":["number","null"],"format":"double","description":"涨跌额"},"change_pct":{"type":["number","null"],"format":"double","description":"涨跌幅 0.01 -> 1%"},"name":{"type":["string","null"],"description":"名称"},"turnover_rate":{"type":["number","null"],"format":"double","description":"换手率 0.01 -> 1%"}}}},"securitySchemes":{"api_key":{"type":"apiKey","in":"header","name":"x-api-key"}}},"security":[{"api_key":[]}]}